:root {
	--Yekan-font: "Yekan Bakh";
	--Yekan-font-thin: "Yekan Bakh Hairline";
	--Yekan-font-bold: "Yekan Bakh Bold";
	--Yekan-font-light: "Yekan Bakh Light";
	--Yekan-font-medium: "Yekan Bakh Medium";
	--Yekan-font-regular: "Yekan Bakh Regular";
	--Yekan-font-black: "Yekan Bakh Black";
	--white-light-clr: rgb(250, 250, 250, 1);
	--white-clr: rgba(255, 255, 255, 1);
	--blue-dark-clr: rgba(0, 66, 160, 1);
	--green-clr: rgba(0, 166, 106, 1);
	--red-clr: rgba(213, 82, 82, 1);
	--yellow-clr: rgba(232, 168, 0, 1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	zoom: 1;
	scroll-behavior: smooth;
}
body {
	font-family: var(--Yekan-font);
	direction: rtl;
	letter-spacing: -0.5px;
	-webkit-text-size-adjust: 100%;
	background-color: var(--white-clr);
}
a {
	text-decoration: none;
	color: #444;
}
li {
	list-style: none;
}
svg {
	width: 24px;
	height: 24px;
	line-height: inherit;
}
input,
button,
select,
option,
::placeholder {
	font-family: var(--Yekan-font);
}

.dashbord {
	display: flex;
	align-self: self-start;
	padding: 1rem;
}
.sidebar {
	position: fixed;
	right: -27rem;
	top: 0;
	padding-bottom: 40px;
	overflow-y: hidden;
	height: calc(100vh - 20px);
	max-width: 25rem;
	width: 100%;
	padding: 20px 10px;
	transition: all 300ms linear;
}
.sidebar.active {
	transition: all 300ms linear;
	right: 0;
}
.logo a {
	max-width: fit-content;
	display: block;
	padding: 2rem;
}
.menu {
	height: calc(100% - 20px);
	padding-bottom: 40px;
	overflow-y: auto;
}
.menu::-webkit-scrollbar {
	width: 0px;
}
.menu-title {
	font-size: 14px;
	margin-top: 0.8rem;
}
.border-b {
	border-bottom: 1px solid #ddd;
}
.clr-red {
	color: var(--red-clr);
}
.main-menu ul {
	margin-top: 2rem;
	padding: 0 1rem;
	padding-bottom: 2rem;
}
.main-menu ul li a svg {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: inherit;
	position: relative;
	transform: translateY(3px);
}
.main-menu ul li a {
	font-size: 1.6rem;
	font-family: var(--Yekan-font-medium);
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem;
	border-radius: 6px;
	transition: all 200ms ease-in;
	margin-bottom: 1rem;
}
.main-menu ul li a:hover {
	background: var(--blue-dark-clr);
	color: var(--white-light-clr);
}
.main-menu ul li a.active {
	background: var(--blue-dark-clr);
	color: var(--white-light-clr);
}

main {
	width: calc(100% - 25rem);
	flex: 1;
	min-height: calc(100vh - 30px);
	padding: 3rem;
	transition: all 300ms linear;
}
.sidebar.active ~ main {
	margin-right: 25rem;
	transition: all 300ms linear;
}
.header {
	padding: 1rem;
	background-color: var(--white-light-clr);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.toggle-menu {
	appearance: none;
	border: none;
	outline: none;
	font-family: var(--Yekan-font-bold);
	display: flex;
	align-items: center;
	gap: 0.8rem;
	padding: 0.5rem;
	background-color: transparent;
	cursor: pointer;
	transition: color 250ms ease-in;
	font-size: 1.5rem;
}
.toggle-menu:hover {
	color: var(--yellow-clr);
}
.header > div {
	display: flex;
	gap: 2rem;
}
.userinfo img {
	display: block;
	width: 50px;
	height: auto;
	border-radius: 50%;
	object-position: center;
}
.userinfo {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.info {
	display: flex;
	flex-direction: column;
	font-family: var(--Yekan-font-medium);
	font-size: 1.7rem;
	color: #444;
}
.left-content a {
	display: flex;
	font-size: 1.6rem;
	font-family: var(--Yekan-font-regular);
	align-items: center;
	gap: 0.5rem;
	transition: color 260ms ease;
}
.left-content a:hover {
	color: var(--yellow-clr);
}

.main-wrapper {
	background-color: var(--white-light-clr);
	min-height: 50vh;
	width: 100%;
	padding: 1rem;
	margin-top: 3rem;
	border-radius: 10px;
}
.section-title {
}
.section-title h1 {
	font-size: 2.5rem;
	font-family: var(--Yekan-font-bold);
	margin-bottom: 0.5rem;
}
.navigetior a {
	font-size: 14px;
	font-family: var(--Yekan-font-medium);
	padding: 0 1rem;
}
.navigetior span {
	font-size: 1.5rem;
	font-family: var(--Yekan-font-black);
}
.navigetior a.active {
	font-weight: 700;
}
.dasbord-content {
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	min-height: fit-content;
}
.content {
	min-height: 10rem;
	background-color: var(--white-clr);
	padding: 1.5rem;
	border: 1px solid #ddde;
}
.content-box-title h1 {
	font-size: 1.5rem;
	font-family: var(--Yekan-font-regular);
}
.tabs-wrapper {
	padding: 1rem;
	overflow: hidden;
}
.tabs-btns {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1.5rem;
}
.tab-btn {
	font-family: var(--Yekan-font-regular);
	font-size: 1.5rem;
	background-color: transparent;
	padding: 0.6rem 1rem;
	border: 2px solid #dddeed;
	border-radius: 6px;
	cursor: pointer;
	transition: all 200ms linear;
}
.tab-btn:hover,
.tab-btn.active {
	background-color: var(--blue-dark-clr);
	color: var(--white-clr);
	border-color: var(--blue-dark-clr);
}
.box {
	display: none;
	animation: moving 300ms ease;
}
@keyframes moving {
	from {
		transform: translateX(800px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}
.box.active {
	display: block;
}
.input-wrapper {
	display: flex;
	flex-direction: column;
}
.body-box form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}
.body-box input {
	font-size: 1.5rem;
	font-weight: 700;
	padding: 0.3rem 1rem;
	background-color: #dddddda8;
	border: none;
	outline: none;
	border-radius: 5px;
}
.body-box input:not(:read-only) {
	background-color: var(--white-clr);
	border: 2px solid #ddd;
}
.input-wrapper label {
	font-size: 1.4rem;
	font-weight: 700;
}
.box h1 {
	font-weight: 700;
}
.status {
	font-family: var(--Yekan-font);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.status.success {
	color: var(--green-clr);
}
.status.offline {
	color: var(--red-clr);
}
.sendCode {
	border: 1px solid var(--yellow-clr);
	padding: 0.5rem 2rem;
	font-family: var(--Yekan-font-bold);
	background-color: var(--yellow-clr);
	border-radius: 5px;
	box-shadow: 0px 3px 12px rgba(232, 168, 0, 0.3);
	color: var(--white-clr);
	cursor: pointer;
}
.submit-btn {
	border: 1px solid var(--green-clr);
	padding: 0.5rem 2rem;
	font-family: var(--Yekan-font-bold);
	background-color: var(--green-clr);
	border-radius: 5px;
	box-shadow: 0px 3px 12px rgba(0, 166, 106, 0.3);
	color: var(--white-clr);
	cursor: pointer;
}

.guid {
	margin-top: 1.6rem;
	font-size: 1.5rem;
	font-weight: 500;
}
.edit-btn {
	background-color: var(--yellow-clr);
	border-color: rgba(232, 168, 0, 0.3);
	box-shadow: 0px 3px 12px rgba(232, 168, 0, 0.3);
	color: var(--white-clr);
}

.w-full {
	grid-column: 2 span;
	max-height: 30rem;
	height: 100%;
	overflow-y: auto;
}
table {
	width: 100%;
	border: 1px solid #ddde;
	border-collapse: collapse;
	font-size: 1.5rem;
	margin-top: 1rem;
}
tr,
td,
th {
	border: 2px solid #ddde;
	text-align: center;
}
td {
	padding: 1rem 0.5rem;
}
td a {
	margin-left: 1rem;
}
td a {
	font-weight: 700;
	padding: 0.5rem 1rem;
	border-radius: 7px;
}
.delete-btn {
	background-color: var(--red-clr);
	color: var(--white-clr);
}
.table-status.success {
	font-weight: 900;
	color: var(--green-clr);
}
.chart-wrapper {
	margin-top: 1rem;
}

.report-btns {
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}
.report-btns button {
	border: 1px solid #ddd;
	padding: 0.5rem 1rem;
	font-family: var(--Yekan-font-bold);
	cursor: pointer;
	border-radius: 5px;
	transition: all 200ms ease;
	background-color: var(--white-light-clr);
}
.report-btns button:hover {
	background-color: var(--blue-dark-clr);
	color: var(--white-clr);
}
#myChart {
	max-width: 100%;
}
.insure-list{
	margin-top: 3rem;
	background-color: var(--white-clr);
	padding: 1rem;
	border: 1px solid #ddde;
	height: fit-content;
	border-radius: 5px;
}
.insure-list .section-title h1{
	font-size: 1.7rem;
}
.description{
	display: flex;
	flex-direction: column;
}
.description img {
	display: block;
	max-width: 30rem;
	height: auto;
}
.description .caption {
	font-size: 1.5rem;
	font-family: var(--Yekan-font-medium);
	letter-spacing: normal;
	padding: 1rem;
	
}
.accordion .item {
	position: relative;
	transition: all 200ms linear;
	border-radius: 5px;
	overflow: hidden;
}
.accordion .item input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
}
.accordion .item label {
	font-size: 1.8rem;
	font-weight: 700;
	background-color: var(--blue-dark-clr);
	display: block;
	color: var(--white-clr);
	padding: 1rem 2rem;
	cursor: pointer;
}
.accordion {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	transition: all 400ms ease-in-out;
}
 .accordion-content{
	background-color: var(--green-clr);
	max-height: 0;
	overflow: hidden;
	transition: all 400ms ease-in-out;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}
.accordion .accordion-content a{
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	font-family: var(--Yekan-font-bold);
	background-color: var(--white-light-clr);
	padding: .5rem 1rem;
	gap: 1rem;
	border-radius: 5px;
	transition: all 200ms linear;
}
.accordion .accordion-content a:hover{
	background-color: var(--white-clr);
}
.accordion .item input:checked ~ .accordion-content{
	max-height: 100vh;
	padding: 2rem;
	transition: all 200ms ease-in-out;
}